.form{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.input{
    margin: 20px;
    width: 400px;
}

.button{
    margin: 20px;
    width: 400px;
}

.signUp{
    margin: 20px;
}

.error{
    margin: 20px;
    color: red;
}